@model TrainingPlannerAppMVC.Application.ViewModels.UserVm.ListUserForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddUser">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Count:@Html.DisplayFor(modelItem => modelItem.Count)
            </th>
        </tr>
        <tr>
            <th>
                ID
            </th>
            <th>
                Firstname
            </th>
            <th>
                Lastname
            </th>
            <th>
                Email
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Users) {
    var email = item.UserEmail.ToString();
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                
                @Html.DisplayFor(modelItem => email)
            </td>
            <td>
                @Html.ActionLink("Details", "UserDetails", new { userId=item.Id }) |
                @Html.RouteLink("Days", "Day", new { userId=item.Id}) |
                @Html.RouteLink("Products", "Product", new { userId=item.Id}) |
                @Html.RouteLink("Exercises", "Exercise", new { userId=item.Id})
            </td>
        </tr>
}
    </tbody>
</table>
