@model TrainingPlannerAppMVC.Application.ViewModels.ProductVm.ListProductForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddProduct" asp-route-userId="@Model.UserId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Fat
            </th>
            <th>
                Carbs
            </th>
            <th>
                Proteins
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Products) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Details.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details.Calories.Fat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details.Calories.Carbs)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Details.Calories.Proteins)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
