@model TrainingPlannerAppMVC.Application.ViewModels.ProductVm.UserProductVm.ListProductForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddProduct" asp-route-userId="@Model.UserId">Create New</a>
</p>
<form asp-action="Index" asp-controller="Product" method="post">
    <div class="container text-center">
        <div class="row row-cols-auto">
            <input type="text" asp-for="SearchString" name="searchString" id="searchString">
            <input type="submit" value="Wyszukaj">
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Fat
                </th>
                <th>
                    Carbs
                </th>
                <th>
                    Proteins
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Products) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Details.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Details.Calories.Fat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Details.Calories.Carbs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Details.Calories.Proteins)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.Id, userId=item.UserId }) |
                        @Html.ActionLink("Delete", "Delete", new { userId=item.UserId, productId=item.Id })
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <ul class="pagination">
    @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
    {
        @if (i != Model.CurrentPage)
        {
            <li class="page-item">
                <a href="javascript:PagerClick(@i)" class="page-link">@i</a>
            </li>  
        }
        else
        {
            <li class="page-item active">
                <span class="page-link">@i</span>
            </li>  
        }
        
    }
    </ul>
    <input type="hidden" asp-for="UserId"/>
    <input type="hidden" asp-for="CurrentPage" name="pageNumber" id="pageNumber">
    <input type="hidden" asp-for="PageSize" name="pageSize" id="pageSize">
</form>
@section Scripts
{
    <script>
    function PagerClick(index)
    {
        document.getElementById("pageNumber").value = index;
        document.forms[0].submit();
    }    
    </script>
}
