@model TrainingPlannerAppMVC.Application.ViewModels.DayVm.DayDetailsVm

@{
    ViewBag.Title = "Details";
}

<h1 class="display-3 text-center p-2">Day Details</h1>
<div class="container row">
    <div class="col">
        @Html.ActionLink("Add product", "AddProduct", new { dayId=Model.Id}, new { @class = "btn btn-primary mb-1 w-100" })
        <table class="border table">
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Fat
                </th>
                <th>
                    Carbs
                </th>
                <th>
                    Proteins
                </th>
                <th>
                    Weight
                </th>
                <th>
                    Kcal
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Products.Products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductDetails.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductDetails.Calories.Fat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductDetails.Calories.Carbs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductDetails.Calories.Proteins)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductDetails.Weight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductDetails.Kcal)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditProduct", new { id = item.Id }, new { @class = "btn btn-info"})
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="col">
        @Html.ActionLink("Add exercise", "AddExercise", new { dayId=Model.Id}, new { @class = "btn btn-primary mb-1 w-100" })
        <table class="border table">
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Category
                </th>
                <th>
                    Description
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var (item, idx) in Model.Exercises.Exercises.Select((item, idx) => (item, idx)))
            {
                <tr class="fw-bold">
                    <td>
                        @Html.DisplayFor(modelItem => item.ExerciseDetails.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExerciseCategory)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExerciseDetails.Description)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditExercise", new { id = item.Id }, new { @class = "btn btn-info"})
                        <button type="button" class="btn btn-success" data-bs-toggle="collapse" data-bs-target="@(".set"+idx)" aria-expanded="false" aria-controls="@("set"+idx)">Show sets</button>
                    </td>
                </tr>
                @if (item.ExerciseDetails.Sets.Any())
                {
                    <tr class="collapse @("set"+idx) table-light">
                        <th>
                            Set
                        </th>
                        <th>
                            Reps
                        </th>
                        <th>
                            Weight
                        </th>
                        <th>
                            Break time in seconds
                        </th>
                    </tr>
                    @foreach (var (set, index) in item.ExerciseDetails.Sets.Select((set, index) => (set, index + 1)))
                    {
                        <tr class="collapse @("set"+idx) table-light">
                            <td>
                                <li class="badge bg-primary">@(index)</li>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => set.Reps)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => set.Weight)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => set.BreakTimeInSeconds)
                            </td>
                        </tr>
                    }
                }
            }
            </tbody>
        </table>
    </div>
</div>
