@model TrainingPlannerAppMVC.Application.ViewModels.DayVm.DayDetailsVm

@{
    ViewBag.Title = "Details";
}

<h2>Day Details</h2>
<div class="d-flex justify-content-center">
    <div class="col p-2">
        @Html.ActionLink("Add product", "AddProduct", new { dayId=Model.Id}, new { @class = "btn btn-primary mb-1" })
        <table class="border table">
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Fat
                </th>
                <th>
                    Carbs
                </th>
                <th>
                    Proteins
                </th>
                <th>
                    Weight
                </th>
                <th>
                    Kcal
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Products.Products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductDetails.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductDetails.Calories.Fat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductDetails.Calories.Carbs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductDetails.Calories.Proteins)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductDetails.Weight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductDetails.Kcal)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditProduct", new { id = item.Id }, new { @class = "btn btn-info"})
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="col p-2">
        @Html.ActionLink("Add exercise", "AddExercise", new { dayId=Model.Id}, new { @class = "btn btn-primary mb-1" })
        <table class="border table">
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Category
                </th>
                <th>
                    Description
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Exercises.Exercises)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExerciseDetails.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExerciseCategory)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExerciseDetails.Description)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditExercise", new { id = item.Id }, new { @class = "btn btn-info"})
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
