@model TrainingPlannerAppMVC.Application.ViewModels.DayVm.ListDayForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (Model.AllowDayCreate)
{
    <p>
        @Html.ActionLink("Create New", "AddDay", new { userId=Model.UserId})
    </p> 
}
else
{
    <p>Create New</p>
}

<table class="table">
    <thead>
        <tr>
            Days
        </tr>
    </thead>
    <tbody>
@foreach (var (item, index) in Model.Days.Select((x, y) => (x, y + 1))) {
        var date = item.Date.Date.ToString("d");
        <tr>
            <td>
                @index
            </td>
            <td>
                @Html.DisplayFor(modelItem => date)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { dayId=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
